<div class="my-2" [ngStyle] = "{ 'background-color' : getColor()}" [ngClass] = "{ offline : userStatus === 'Offline' }"> Used {{userId}} is {{userStatus}}</div>
<div class="my-2" [ngStyle] = "{ backgroundColor : getColor()}"> Used {{userId}} is {{userStatus}}</div>

<div>{{userName}}</div>
<div>
  <ng-content></ng-content> <!-- Used to display content written between the component usage
                                  Check line 28 in users.component.html
                                  Useful where we cannot send HTML data to child component, Hence ng-content will replace-->
</div>
<!-- Custom Attribute Directive -->
<div appHighlightText > Please add the background-color red </div>
<div appRendererHighlight [defaultColor]="'blue'" [highlightColor]="'pink'" > Please add the background-color red </div>


<!-- Custom Structural directives -->
<div *ngIf="isAvailable">Show structural directive</div>
<!--the above code is converted into code shown below-->
<ng-template [ngIf]="isAvailable">
  <div>Show structural directive</div>
</ng-template>

<div *appAlternateIf="isAvailable"> This is custom structural directive</div>
<ng-template [appAlternateIf]="isAvailable"> This is custom structural directive</ng-template>
